
 $comprar: #414141cc;

.card {
    border: none;
    margin: 50px;

    img {
        border-radius: 25px;
    }
    
    .card-title {
        color: rgb(107, 106, 106);
        font-weight: bold;
    }
    
    .card-text {
        margin: 20px 0;
        color: rgb(129, 129, 129);
    }
    
    
    $comprar: #414141cc;
    
    
    .comprar {
        background-color: #fff;
        color: #000;
        color: rgb(90, 90, 90);
        border: 2px solid $comprar;
        border-radius: 15px;
        width: 100%;
        transition: all 0.3s;
    }
    
    .comprar:hover {
        background-color: $comprar;
        border-color: #414141cc;
        transform: scale(1.1);
        color: #fff;
    }
}

