@import "_header";
@import "_inicio";
@import "_productos";
@import "_footer";
@import "_contacto";
@import "_beneficios";
@import "_preg-frecuentes";






$comprar: #414141cc;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Open Sans', sans-serif;
}



main {
    overflow: hidden;
}
 
@media screen and (min-width: 700px) and (max-width: 1045px) {
    

    ul {
        font-size: 25x;
        text-align: center;
    }

    main .texto__sobrenosotros {
        height: 100%;
        width: 90%;
        font-size: 10px;
        margin-bottom: 50px;
    }

    #carouselExampleControls {
        margin-left: 30%;
        max-width: 40%;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    header {
    
        ul {
            font-size: 20x;
            text-align: center;
        }
    }

    main .texto__sobrenosotros {
        height: 50%;
        width: 80%;
        font-size: 15px;
        margin-bottom: 50px;
    }

    #carouselExampleControls {
        max-width: 40%;
        margin-left: 30%;


    }


    .contenido__footer h4 {
        font-size: 15px;
    }

    .home-testimonial {
        height: 1100px;
    }

    .home-testimonial-bottom {
        background-color: #737373;
    }

    .tour-item {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 350px) and (max-width: 500px) {

    header {
        background-position: center;

        ul {
            padding: 40px 0;
            text-align: center;
            margin-left: 35px;
            font-size: 17px;
        }

    
    }




    main .texto__sobrenosotros {
        height: 550px;
        width: 250px;
        margin-left: 40px;
        font-size: 10px;
    }


    #carouselExampleControls {
        margin-left: 10%;
        max-width: 50%;
    }


    .home-testimonial {
        height: 1250px;
    }

    .home-testimonial-bottom {
        background-color: #737373;
    }

    .home-testimonial h2 {
        font-size: 20px;
    }

    .tour-item {
        margin-bottom: 40px;
    }
   



    .contenedor__footer {
        flex-direction: column;
        border: none;
    }

    .contenido__footer {
        margin-bottom: 20px;
        text-align: center;
    }

    .contenido__footer h4 {
        border: none;
        font-size: 16px !important;
        margin: 15px;
    }

    .contenido__footer p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width: 505px) and (max-width: 767px) {
    .home-testimonial {
        height: 1100px;
    }

    .home-testimonial-bottom {
        background-color: #737373;
    }

    .tour-item {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 767px) and (max-width: 990px) {
    .home-testimonial {
        height: 550px;
    }
    .home-testimonial-bottom {
    background-color: #737373;
    
    
}


}